body{
	background-color: #fcfcfc;
	color: #3d3d3d;
	margin: 0;
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	text-align: center;
	padding: 0px;
	width: 100%;
	padding-top: 180px;
}

h1{
	color: #71f278;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
}


h2{
	color: #114B5F;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}

a:link, a:visited {
    color: #424242;
	text-decoration: none;
	padding-left: 1%;
	padding-right: 1%;
}

a:hover, a:active {
    color: #999999;
	text-decoration: none;
	padding-right: 1%;
	padding-left: 1%;
}

#topBar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #3d3d3d;
}

#aboutMe {
	width: 40%;
	margin: auto;
	font-size: 1.15em;
	text-align: justify;
	line-height: 1.2em;
}


/*  *************************************
	NAVIGATION BAR STYLE 											NAVIGATION BAR STYLE 
*/
#navBar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	background: #f2f2f2;
	overflow: hidden;
}

#navBar li{
	float: left;
}

#navBar li a{
	display: block;
	text-align: center;
    padding: 14px 16px;
    color: #424242;
	text-decoration: none;
}

#navBar li a:hover{
	background: #cccccc;
    color: white;
}

#navBar li a.active{
	background-color: #71f278;
	color: white;
}
/*	END NAVIGATION BAR STYLE
	************************************* 
*/



/*  *************************************
	RESUME CONTENT STYLE 											RESUME CONTENT STYLE
*/
#resumeStuff{
	display: inline;
	float: center;
}

#resume_link{
	background: #424242;
	color: white;
	text-decoration: none;
	float: right;
	padding: 30px;
	font-weight: bold;
	margin-right: 12%;
	margin-top: 2%;
	font-size: 1.5em
	
}

#resume_link:hover{
	background-color: #71f278;
}

#resumeStuff img{
	padding: 2%;
	float: left;
	margin-left: 12%;
}
/*	END RESUME CONTENT STYLE
	************************************* 
*/



/*  *************************************
	CONTACT INFO STYLE 												CONTACT INFO STYLE 
*/

#contactBlock {
    width: 80%;
	margin: auto;
	overflow: hidden;
	display: block;
	
}

#contactText{
	list-style-type: none;
	text-align: left;
	padding: 5%;
}

#contactIcons{
	float: left;
	size: 10em;
	list-style-type: none;
	
}
/*	END CONTACT INFO STYLE
	************************************* 
*/


/* centering jump fix*/
html {
  overflow-y: scroll;
}
