body{
	background-color: #fcfcfc;
	color: #3d3d3d;
	margin: 0;
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	text-align: center;
	padding: 0px;
	width: 100%;
	padding-top: 180px;
}

h1{
	color: #71f278;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
}


h2{
	color: #3d3d3d;
	text-align: center;
	font-size: 2.5em;
	text-transform: uppercase;

}

a:link, a:visited {
    color: #424242;
	text-decoration: none;
	padding-left: 1%;
	padding-right: 1%;
}

a:hover, a:active {
    color: #999999;
	text-decoration: none;
	padding-right: 1%;
	padding-left: 1%;
}

#topBar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #3d3d3d;
}

#aboutMe {
	width: 60%;
	margin: auto;
	font-size: 1.15em;
	text-align: justify;
	line-height: 1.2em;
}


/*  *************************************
	NAVIGATION BAR STYLE 											NAVIGATION BAR STYLE 
*/
#navBar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	background: #f2f2f2;
	overflow: hidden;
}

#navBar li{
	float: left;
}

#navBar li a{
	display: block;
	text-align: center;
    padding: 14px 16px;
    color: #424242;
	text-decoration: none;
}

#navBar li a:hover{
	background: #cccccc;
    color: white;
}

#navBar li a.active{
	background-color: #71f278;
	color: white;
}
/*	END NAVIGATION BAR STYLE
	************************************* 
*/



/*  *************************************
	RESUME CONTENT STYLE 											RESUME CONTENT STYLE
*/
#resumeStuff{
	width: 80%;
	margin: auto;
	display: block;
	margin-top: 40px;
}

#resumeLinks{
	list-style-type: none;
	float: left;
}

#resumeLinks li a{
	display: block;
	background: #424242;
	color: white;
	padding: 20px;
	font-weight: bold;
	font-size: 1.5em;
	margin: 10px;
}

#resumeLinks li a:hover{
	background-color: #71f278;
}

#resumeStuff img{
	float: left;
}

.clearfix{
    clear:both
}
/*	END RESUME CONTENT STYLE
	************************************* 
*/



/*  *************************************
	CONTACT INFO STYLE 												CONTACT INFO STYLE 
*/

#contactBlock {
	margin: auto;
	display: inline-block;
}

#contactText{
	list-style-type: none;
	text-align: center;
	line-height: 1em;
	position: relative;

}

#contactIcons{
	margin: auto;
	width: 20%;
	display: inline;
	position: relative;
}
#contactIcons li{
	float: left;
	size: 10em;
	padding: 10px;
	list-style-type: none;
	display: inline;
}

#contactText h3{
	font-size: 2em;
}

#contactText p{
	font-size: 1.5em;
	
}
/*	END CONTACT INFO STYLE
	************************************* 
*/


/* centering jump fix*/
html {
  overflow-y: scroll;
}
