body{
	background-color: #fcfcfc;
	color: #3d3d3d;
	margin: 0;
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	text-align: center;
	padding: 0px;
	width: 100%;
	padding-top: 180px;
}

h1{
	color: #71f278;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	padding: 0;
	margin: 15px;
}

#topBar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #3d3d3d;
	font-weight: bold;
}

h2{
	color: #3d3d3d;
	text-align: center;
	font-size: 2.5em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;

}

h3{
	font-size: 1.5em;
}

a{
	transition: color 0.5s;
	transition: background 0.5s;
	text-decoration: none;
}

#contactIcons a:link, #contactIcons a:visited {
    color: #424242;
	text-decoration: none;
}

#contactIcons a:hover, #contactIcons a:active {
    color: #71f278;
	text-decoration: none;
}

#contactIcons a{
	transition: color 0.5s;
}



.body_text{
	width: 60%;
	margin: auto;
	font-size: 1.15em;
	text-align: justify;
	line-height: 1.2em;
	margin-bottom: 150px;
	padding: 0px
}

img{
	float: left;
	padding: 20px;
}

.home{
	width: 70%;
	margin: auto;
	padding: 0;
}


/*  *************************************
	NAVIGATION BAR STYLE 											NAVIGATION BAR STYLE 
*/
#navBar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	background: #f2f2f2;
	overflow: hidden;
}

#navBar li{
	float: left;
}

#navBar li a{
	display: block;
	text-align: center;
    padding: 14px 16px;
    color: #424242;
	text-decoration: none;
}

#navBar li a:hover{
	background: #cccccc;
    color: white;
}

#navBar li a.active{
	background-color: #71f278;
	color: white;
}
/*	END NAVIGATION BAR STYLE
	************************************* 
*/



/*  *************************************
	RESUME CONTENT STYLE 											RESUME CONTENT STYLE
*/

.resume_body_left{
	list-style: none;
	text-align: left;
	float: left;
	width: 30%;
	margin-left: 18%;
}

.resume_body_right{
	list-style: none;
	text-align: left;
	float: right;
	width: 30%;
	margin-right: 12%;
}

.resume p{
	margin: 0px;
}

.resume h4{
	margin: 0px;
}

.resume ul{
	margin: 0px;
	
}

.button{
	display: inline-block;
	background: #424242;
	color: white;
	padding: 20px;
	font-weight: bold;
	font-size: 1.5em;
	margin: 30px;
	width: 25%;
}

.button-sm{
	display: inline-block;
	background: #424242;
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 1.5em;
	margin: 20px;
}

.button:hover, .button-sm:hover{
	background: #71f278;
}

.clearfix{
    clear:both
}
/*	END RESUME CONTENT STYLE
	************************************* 
*/



/*  *************************************
	CONTACT INFO STYLE 												CONTACT INFO STYLE 
*/

#contactIcons{
	margin-top: 50px;
}

#contactIcons a{
	margin: 20px;
	padding: 0px;
}

#contactText{
	margin: auto;
	list-style-type: none;
	text-align: center;
	line-height: 1em;
	padding: 0;
}

#contactText h3{
	font-size: 2.5em;
}

#contactText p{
	font-size: 2em;
	
}
/*	END CONTACT INFO STYLE
	************************************* 
*/



/*  *************************************
	EDUCATION INFO STYLE 												EDUCATION INFO STYLE 
*/

.education{
	width: 60%;
	text-align: left;
	margin: auto;
	margin-bottom: 150px;
}

.education h2{
	text-align: center;
}

/*	END EDUCATION INFO STYLE
	************************************* 
*/

.projects{
	width: 70%;
	margin: auto;
}

footer{
	text-align: center;
	font-size: 0.8em;
	color: #71f278;
	margin: 10px;
	bottom: 0;

}

/* centering jump fix*/
html {
  overflow-y: scroll;
}
